.card-footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-top: auto;
    padding-top: var(--spacing-md);
}

.card-footer span:first-child {
    grid-column: 2;
}

.card-footer .time-to-read {
    grid-column: 3;
    justify-self: end;
}