.order-card {
    background-color: var(--primary-bg-color);
    padding: var(--spacing-md);
    border-radius: var(--border-radius-value);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-info {
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
}

.order-detail {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    color: var(--primary-text-color);
    padding-left: var(--spacing-xl);
}

.order-actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-md);
}

.status-select {
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-value);
    border: 1px solid var(--primary-text-color);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    cursor: pointer;
    min-width: 150px;
    font-size: var(--p-font-size);
}

.status-select:focus {
    outline: none;
    border-color: var(--accent-color);
}

.view-details-button,
.cancel-button {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-value);
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-default-value);
    font-size: var(--p-font-size);
}

.cancel-button {
    background-color: #e74c3c;
    color: var(--primary-text-color);
}

.cancel-button:hover {
    background-color: #c0392b;
}

.view-details-button {
    background-color: var(--accent-color);
    color: var(--primary-text-color);
}

.view-details-button:hover {
    background-color: var(--accent-hover-color);
}