.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-lg);
    height: 42px;
}

.search-container input {
    width: 100%;
    max-width: 400px;
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-value);
    border: 1px solid var(--primary-text-color);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.search-container input:focus {
    outline: none;
    border-color: var(--accent-color);
}

/* ------------------------------- Media Queries --------------------------------- */

@media (max-width: 768px) {
    .search-container {
        margin-bottom: var(--spacing-md);
    }

    .search-container input {
        max-width: 300px;
    }
}

@media (max-width: 568px) {
    .search-container input {
        max-width: 100%;
        padding: var(--spacing-xsm);
    }
}

/* Extra small devices */
@media (max-width: 360px) {
    .search-container {
        height: 36px;
        margin-bottom: var(--spacing-sm);
    }
}